<li id="message-<%= message.id %>">
      <% if message.user_id == current_user.id %>
          <div class="current_user">
              <strong class="current_user"><%= message.content %></strong>
              <small class="current_user"><%= message.user.name %></small>
          </div>
      <% else %>
          <div class="visited_user">
              <strong class="visited_user"><%= message.content %></strong>
              <small class="visited_user"><%= message.user.name %></small>
          </div>
      <% end %>
</li>