<div class="signup-block">
  <div class="signup-group">
    <h1 class="sign-title">悩み投稿</h1>
    <%= form_with model: @problem, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>            
      <div class="field"> 
        <%=f.label :description, "内容"%>
        <%=f.text_area :description, class: "form-control"%>
      </div>  
      <div class="actions">  
        <%=f.submit '投稿する', class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>