<% provide(:title, "投稿の編集") %>

<div class="signup-block">
  <div class="signup-group">
    <h1 class="problem-edit-title">悩み投稿の編集</h1>
    <%= form_with model: @problem, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field"> 
        <%=f.label :description, "内容"%>
        <%=f.text_area :description, class: "form-control"%>
      </div>  

      <div class="actions">  
        <%=f.submit '更新する', class: "btn btn-primary"%>
      </div> 

      <div class="post-delete">
        <%= link_to "投稿を削除する", problem_path(@problem), method: :delete,
                             data: { confirm: "本当にこの投稿を削除してもよろしいですか？" } %>
      </div>  
    <% end %>
  </div>
</div>