<% provide(:title, '悩み投稿') %>

<div class="container">
  <div class="problem-post-show">
    <%= link_to gravatar_for(@problem.user, size: 50), @problem.user, class:"problem-user-picture" %>
    <span class="problem-user-name"><%= current_user.name %></span><br>
    <div class="change-problem-post">
      <% if current_user == @problem.user %>
        <%= link_to "編集", edit_problem_path(@problem), class: 'edit-problem-post' %>
      <% end %>
      <% if current_user.admin? || (current_user == @problem.user) %>
        <%= link_to "削除", problem_path(@problem), method: :delete, class: 'delete-problem-post',
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
    <h4 class="problem-post-description"><%= @problem.description %></h4>
    <div class="col-md-7">
      <div class="comment">
        <%= render "problem_comments/new" %>
      </div>
    </div>
  </div>
</div>