<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
  <% if @user.id == current_user.id %>
        <% else %>
          <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
            <% if @isTalk == true %>
              <p><a href="/talks/<%= @talkId %>" class="btn btn-primary1 btn-lg" id="btn-go-chat">チャットへ</a>
            <% else %>
              <%= form_for @talk do |f| %>
                <%= fields_for @membership do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class:"btn btn-chat" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
<% end %>