<% provide(:title, "プロフィール") %>
  <div class="profile-title">
    <div class="row">
        <div class="user-picture-box">
            <%= gravatar_for @user, size: 80, cl: "gravatar user-picture" %>
        </div>
        <div class="col-md-8 user-profile">
          <h4 class="show-user-name"><%= @user.name %></h4>
          <div class="profile-comment">
            <%= @user.introduction %>
          </div>
          <section class="stats-second">
            <%= render 'shared/stats' %>
          </section>
          <% if current_user == @user %>
            <div id="user-edit"><%= link_to "プロフィール編集", edit_user_path(@user), class: "profile-title" %></div>
          <% end %>
          <%= render 'follow_form' if logged_in? %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <% if @user.posts.any? %>
            <h3 class="profile-post-title">投稿 (<%= @user.posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
              <%= paginate @posts %>
          <% end %>
      </div>
    </div>
  </div>
