<% provide(:title, "プロフィール") %>
  <div class="profile-title">
    <div class="row">
        <div class="user-picture-box">
            <%= gravatar_for @user, size: 80, cl: "gravatar user-picture" %>
        </div>
        <div class="col-md-8 user-profile">
        <h4 class="show-user-name"><%= @user.name %></h4>
        <div class="profile-comment">
            <%= @user.introduction %>
        </div>
        <section class="stats-second">
          <%= render 'shared/stats' %>
        </section>
        <% if current_user == @user %>
            <div id="user-edit"><%= link_to "プロフィール編集", edit_user_path(@user), class: "profile-title" %></div>
        <% end %>
        <%= render 'follow_form' if logged_in? %>
        </div>
    </div>
    <% if @user.id == current_user.id %>
    <% else %>
      <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
      <% if @isTalk == true %>
        <p><a href="/talks/<%= @talkId %>" class="btn btn-primary1 btn-lg btn-go-chat">チャットへ</a>
        <% else %>
        <%= form_for @talk do |f| %>
            <%= fields_for @membership do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class:"btn-chat" %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-12">
          <% if @user.posts.any? %>
            <h3 class="profile-post-title">投稿 (<%= @user.posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
              <%= paginate @posts %>
          <% end %>
      </div>
    </div>
  </div>
