<% @post = post %>

<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="title"><%= link_to post.title, post_path(post) %></span>
  <span class="description"><%= post.description %></span><br>
  <span>
    <%= link_to((image_tag post.picture.thumb200.url), post_path(post.id), class: 'post-picture') if post.picture.url.present? %>
  </span><br>
  <span class="recommended">オススメ度：<div id="star-recommended-<%= @post.id %>"></div>
          <script>
          $('#star-recommended-<%= @post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            readOnly: true,
            score: <%= @post.recommended %>,
          });
          </script>  
  </span><br>
  <%= render 'users/like_form' %><br>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == post.user) %>
    <%= link_to "削除", post_path(post), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>