<div class="signup-block">
  <div class="signup-group">
    <h1 class="sign-title">投稿</h1>
    <%= form_with model: @post, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%=f.label :title, "タイトル"%>
        <%=f.text_field :title, class: "form-control",id: "post_name"%>
      </div>
            
      <div class="field"> 
        <%=f.label :description, "説明"%>
        <%=f.text_area :description, class: "form-control"%>
      </div>  
            
      <div class="field"> 
        <%=f.label :recommended, "オススメ度"%>
        <%=f.text_field :recommended, class: "form-control"%>
      </div>

      <span class="picture">
        <%= f.label :picture, "写真"%> <span class="input-unneed">※任意</span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control' %>
      </span>  
            
      <div class="actions">  
        <%=f.submit '投稿する', class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#dish_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
    }
  });
</script>