<% provide(:title, "投稿の編集") %>

<div class="signup-block">
  <div class="signup-group">
    <h1 class="sign-title">投稿の編集</h1>
    <%= form_with model: @post, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%=f.label :title, "タイトル"%>
        <%=f.text_field :title, class: "form-control",id: "post_name"%>
      </div>
            
      <div class="field"> 
        <%=f.label :description, "説明"%>
        <%=f.text_area :description, class: "form-control"%>
      </div>  

      <span class="field">
        <%= f.label :picture %> <span class="input-unneed">※任意</span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'post-picture' %>
        <%= image_tag(@post.picture.thumb400.url) if @post.picture.url.present? %>
      </span>
            
      <div class="field"> 
        <%=f.label :recommended, "オススメ度"%>
        <%=f.text_field :recommended, class: "form-control"%>
      </div>  
            
      <div class="actions">  
        <%=f.submit '更新する', class: "btn btn-primary"%>
      </div>
      <div class="post-delete">
      <%= link_to "投稿を削除する", post_path(@post), method: :delete,
                             data: { confirm: "本当にこの投稿を削除してもよろしいですか？" } %>
      </div>    
    <% end %>
  </div>
</div>