<% provide(:title, "#{@post.title}") %>
<% @comments  = @post.feed_comment(@post.id) %>
<div class="container">
  <div class="post-show">
    <h2 class="posts-title"><%= @post.title %></h2>
    <div class="change-post">
      <% if current_user == @post.user %>
        <%= link_to "編集", edit_post_path(@post), class: 'edit-post' %>　
      <% end %>
      <% if current_user.admin? || (current_user == @post.user) %>
        <%= link_to "削除", post_path(@post), method: :delete, class: 'delete-post',
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
    <h4 class="post-description"><%= @post.description %></h4>
    <div class="post-info">
      <h5>人気度：<%= @post.recommended %></h5>
    </div>
    <div class="col-md-4">
      <span class="picture">
        <%= link_to((image_tag @post.picture.thumb400.url), post_path(@post.id), class: 'post-picture') if @post.picture.url.present? %>
      </span>
      <%= render 'users/like_form' %>
      <div class="comment">
        <%= render "comments/feed_comments" %>
        <%= render "comments/new" %>
      </div>
    </div>
  </div>
</div>