<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a id="title" class="navbar-brand" href= "/">Chi-Sha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul id="subtitle" class="navbar-nav">
        <% if logged_in? %>
          <li><%= link_to '通知', notifications_path, class: "link-color" %></li>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle notification-circle"></i>
          <% end %>
          <li><%= link_to 'いいね', likes_path, class: "link-color" %></li>
          <li><%= link_to 'ユーザー一覧', users_path, class: "link-color" %></li>
          <li class="dropdown">
            <a href="#menu" class="dropdown-toggle link-color" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu", id="menu">
              <li><%= link_to 'プロフィール', current_user, class: "link-color" %></li>
              <li class="divider"></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "link-color" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to  "新規登録", signup_path, class: "link-color" %>
          </li>
          <li class="nav-item">
            <%= link_to  "ログイン", login_path, class: "link-color" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
</header> 